# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Mixed intermediate files
*.exp
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio User Files
*.suo
*.user
*.sdf
*.ncb
*.ccscc
*.cache
*.db
*.opendb

# Local Temporary files (suck as backup files)
*.bak

# Output Directories
output/
lib/
intermediate/

## FORCED INCLUSIONS (our exclude exceptions)
!DXI/tests_data/*
/DXI/tests_data/*.DLL
/MercuryTests/test_dataDX11/log.txt
/MercuryTests/test_dataDX9/log.txt
/renderers
