# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Mixed intermediate files
*.exp
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio User Files
*.suo
*.user
*.sdf
*.ncb
*.ccscc
*.cache
*.db
*.opendb

# Local Temporary files (suck as backup files)
*.bak

# Output Directories
output/
lib/
intermediate/

## FORCED INCLUSIONS (our exclude exceptions)
!DXI/tests_data/*
/DXI/tests_data/*.DLL
/MercuryTests/test_dataDX11/log.txt
/MercuryTests/test_dataDX9/log.txt
/renderers
/Adventure/DX11/log.txt
/MEEditor/Debug
/MercuryTests/02tests_feature/02Test09 - Motivator/Debug
/MercuryTests/07tests_Physics/07Test02 - PhysXPlayer/Debug
/BlockWorlds/run_dir/log.txt
/extensions/*.iobj
/extensions/*.ipdb
/QFindReplace/Debug
/QFindReplace/Release
/extensions/Release
log.txt
