# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Mixed intermediate files
*.exp
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio User Files
*.suo
*.user
*.sdf
*.ncb
*.ccscc
*.cache
*.db
*.opendb

# Local Temporary files (suck as backup files)
*.bak

# Output Directories
output/
lib/
intermediate/

## FORCED INCLUSIONS (our exclude exceptions)
!DXI/tests_data/*
/DXI/tests_data/*.DLL
/MercuryTests/test_dataDX11/log.txt
/MercuryTests/test_dataDX9/log.txt
/renderers
/Adventure/DX11/log.txt
/MEEditor/Debug
/MercuryTests/02tests_feature/02Test09 - Motivator/Debug
/MercuryTests/07tests_Physics/07Test02 - PhysXPlayer/Debug
/BlockWorlds/run_dir/log.txt
/extensions/*.iobj
/extensions/*.ipdb
/QFindReplace/Debug
/QFindReplace/Release
/extensions/Release
log.txt
log.txt
log.txt
*.png~
/MercuryTests/06tests_MeshAnimations/06Test03 - Mesh Animation DAE/Release
/QXML Tests/Debug
/QXML Tests/testwrite.xml
/MercuryEngine/Documentation/*.odg#
*.odt#
*.log
*.tlog

## External GIT sources
/Unify
external
/ASELoader/Debug/*.idb
/MercuryEngineDX11/Debug/*.idb
/MercuryEngineDX9/Debug/*.idb
/Adventure/DX11/log_DX11_Debug.txt
/Adventure/DX11/log_DX11_Release.txt
/MercuryTests/DX11/log_Debug_DX11.txt
/MercuryTests/01tests_basics/01Test06-Failures/Debug/*.idb
